/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #f4f4f4;
	font: normal 0.75em Arial, sans-serif;
}

header, #mainContent {
	width: 960px;
	margin: 0 auto;
}

p, h1, h2, h3, h4, h5, span, input {
	text-rendering: optimizeLegibility;
}

p {
	line-height: 18px;
	color: #5d5d5d;
}

a:link {
	color: #fe9b00;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

	a:hover, .active {
		color: #000000;
	}

hr {
	color: #c0c0c0;
	padding: 0;
	margin: 20px 0;
}

.separador {
	background-color: #000000;
	border: 0;
}

	.separadorHeader {
		border: 0;
		height: 17px;
		margin: 0 0 15px 0;
	}

.header {
	height: 125px;
}

.logoHeader {
	float: left;
}

.emailHeader, .emailHeader a {
	float: right;
	color: #999898;
	text-transform: lowercase;
}

.navHeader {
 	margin: 6% 0;
 	position: relative;
 	left: 140px;
 	width: 820px;
 	height: 14px;

}

	.navHeader ul li {
		display: inline;
		padding: 0 25px;
	}

.subTitle {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 13px;
}

/* ---------------------------- ABOUT US ---------------------------- */

.iconArrow {
	float: left;
	margin: 5px 16px 0px 0px;
}
	
	.view {
		float: right;
		margin: 2px 10px 0 0px;
	}

.aboutUs {
	height: 270px;
}

.separadorContent {
	height: 6px;
	margin-top: 10px;
}

.midleArticle {
	height: 270px;
	width: 280px;
	margin-right: 60px;
	float: left;
	position: relative;	
}

	.lastArticle {
		margin: 0;
	}

.inputCheckbox p {
	padding-left: 25px;
	position: relative;
	bottom: 20px;
	z-index: -1;
}

/* ---------------------------- PORTIFOLIO ---------------------------- */

.portifolio ul li {
	display: inline-block;
	padding-right: 30px;
}

	.portifolioImages li:last-child {
		padding-right: 0;
	}

.linkView {
	background-color: #fe9b00;
	position: relative;
	color: black;
	width: 62px;
	height: 15px;
	padding: 6px 0px 2px 7px;
	margin: -26px 0px 6px 146px;
}

/* ---------------------------- BLOG UPDATES ---------------------------- */

.sub2 {
	font-size: 12px;
	margin: 26px 0px 18px 0px;
}

.blogUpdates {
	position: relative;
	width: 661px;
	height: 163px;
}

.conect {
	position: relative;
	margin: -185px 0 89px 767px;
}

.social {
	margin-right: 14px;
}

/* ---------------------------- FOOTER ---------------------------- */

footer {
	background-color: #e2e2e2;
	height: 101px;
}

.navFooter {
	position: relative;
	margin-left: 424px;
	width: 389px;
	height: 13px;
	top: 33px;
}

	.navFooter ul li {
		display: inline;
	}

		.navFooter ul li a {
			color: black;
			text-transform: capitalize;
		}

.logoFooter {
	float: right;
	width: 119px;
	height: 64px;
	margin-right: 423px;
}

.copyrigth {
	position: relative;
	margin-left: 424px;
	top: 53px;
}